# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build Output
node_modules
dist
dist-ssr
*.local
.vite

# TypeScript Cache
*.tsbuildinfo
tsconfig.tsbuildinfo

# Environment variables
.env
.env.production
.env.development
.env.local
.env.*.local

# Test & Coverage
coverage
*.lcov
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata & temporary files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
